{% extends 'blog/base.html' %}
{% load static %}
{% block content %}

<div class="col-sm-10">
    <h3 class="text-white my-5">About Page</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam recusandae eligendi quo maxime libero voluptas fuga eveniet alias, dignissimos quas perspiciatis temporibus quia nemo, voluptatum aspernatur. Soluta delectus, est pariatur dolore error quibusdam modi. Doloremque ducimus non dolorem alias eius animi praesentium, id ipsa illum, rem officia nemo officiis temporibus.</p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime hic debitis corrupti atque sunt quo impedit magni velit mollitia inventore corporis facilis odit nisi nam itaque perspiciatis voluptate numquam officia est perferendis similique sint, at modi eius? Similique soluta, laboriosam odio qui sequi necessitatibus ea, minima, molestias temporibus debitis odit!</p>
    
</div>


{% endblock content %}